<div class="bg-slate-900 border border-slate-800 rounded-2xl p-6">

    <h2 class="text-xl font-semibold mb-6">
        Recent Scan Activity
    </h2>

    <table class="w-full">

        <thead class="text-slate-400">

            <tr>

                <th class="text-left py-3">URL</th>
                <th>Prediction</th>
                <th>Risk</th>

            </tr>

        </thead>

        <tbody>

            {% if recent_scans %}

                {% for scan in recent_scans %}

                <tr class="border-t border-slate-800">

                    <td class="py-4">
                        {{ scan[0] }}
                    </td>

                    <td
                        {% if scan[1] == "SAFE" %}
                            class="text-green-400"
                        {% elif scan[1] == "LOW" %}
                            class="text-blue-400"
                        {% elif scan[1] == "MEDIUM" %}
                            class="text-yellow-400"
                        {% elif scan[1] == "HIGH" %}
                            class="text-orange-400"
                        {% elif scan[1] == "CRITICAL" %}
                            class="text-red-400"
                        {% endif %}
                    >
                        {{ scan[1] }}
                    </td>

                    <td>
                        {{ scan[2] }}
                    </td>

                </tr>

                {% endfor %}

            {% else %}

                <tr>

                    <td
                        colspan="3"
                        class="py-8 text-center text-slate-400"
                    >
                        No recent scans available.
                    </td>

                </tr>

            {% endif %}

        </tbody>

    </table>

</div>