{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h1 class="text-4xl font-bold">
    About PhishInsight
</h1>

<p class="text-slate-400 mt-2 mb-8">
    AI-Powered Phishing URL Detection & Threat Analysis Platform
</p>

<div class="bg-slate-900 border border-slate-800 rounded-2xl p-8">

    <h2 class="text-2xl font-semibold mb-4">
        Project Overview
    </h2>

    <p class="text-slate-300 leading-8">
        PhishInsight is a cybersecurity web application developed to analyze URLs
        for phishing threats using a rule-based detection engine. The application
        evaluates multiple security indicators, calculates a comprehensive risk
        score, classifies the threat level, and provides detailed explanations
        for every analysis.
    </p>

    <div class="mt-8 border-t border-slate-800 pt-6">

        <h3 class="text-xl font-semibold mb-3">
            Version
        </h3>

        <p class="text-blue-400 font-semibold">
            v1.0.0
        </p>

    </div>

    <div class="mt-8 border-t border-slate-800 pt-6">

        <h3 class="text-xl font-semibold mb-3">
            Developer
        </h3>

        <p class="text-slate-300">
            Pardhasaradhi Naidu
        </p>

    </div>

</div>

{% endblock %}